[% IF source.total > 0 %]
  <div id="facet" class="facet">
	<div id="title" class="title">
	  [% title %]
	</div>
	[% FOREACH facetTerm IN source.terms %]
	  <a href="search?q=[% query %]&facet.name=[% name %]&facet.value=[% facetTerm.term %]">[% facetTerm.term %]</a> ([% facetTerm.count %])
	  <br/>
	[% END %]  
  </div>
[% END %]